/* APP */
.app-toolbar {
  height: 100px;
}
.app-screen {
  margin: auto;
  max-width: 1200px;
  width: 100%;
  height: calc(100vh - 64px);
  position: absolute;
  top: 50px;
  z-index: 9;
}
.screen-container {
  margin: 10px;
  max-width: fit-content;
  float: right;
}
.info-container {
  margin: 10px;
}
.has-ellipsis {
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap !important;
}

/* SCREEN */
.screen-img {
  border-radius: 0px 0px 5px 5px;
  max-height: 80vh;
}
.screen-btns-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.screen-btn-flash-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.screen-card {
  width: 100%;
  border: #ccc solid 4px;
  border-radius: 10px;
  border-top-width: 30px;
}
.screen-url {
  cursor: default !important;
  position: absolute;
  max-width: 500px;
  padding: 0px 30px 0px 5px;
  height: 20px;
  top: -25px;
  left: 20px;
  border-radius: 10px;
  background-color: white;
  font-size: 0.9em;
  color: #ccc;
  overflow-x: hidden;
  width: 60%;
}
.screen-x {
  position: absolute;
  top: -25px;
  right: 0px;
  color: #999 !important;
}
.screen-btn {
  position: absolute;
  transition: all 2.0s ease;
  background-color: rgba(255, 128, 128, 0.0);
  border: rgb(25, 0, 255, 0) solid 5px;
  z-index: 9;
}            

.highlight {
  background-color: rgba(76, 116, 246, 0.533);
  border: rgb(25, 0, 255, 0.35) solid 5px; 
}

@media (max-width: 599px) {
  .screen-img {
    max-height: unset;
    width: 100%;
  }
  .screen-container {
    width: calc(100% - 20px);
    max-width: unset;
    margin: 10px;
  }
}
